Makefile
*.exe
*.libs
*.o
*.mod
*.lo
*.la
*.a
autom4te.cache*
config.log
confdefs.h
config.status
config/config.h
config/stamp-h1
libtool
*.ldb
config/package_config.h
config/version_list.h
config/config.h
configure
Makefile.in
aclocal.m4
